#--------------------------------------------------#
# The following was generated with gitignore.nvim: #
#--------------------------------------------------#
# Gitignore for the following technologies: zig

# Zig programming language

zig-cache/
.zig-cache/
zig-pkg/
zig-out/
.claude/
.agents/
build/
build-*/
docgen_tmp/

src/proto/
